{% extends 'emails/base.html.twig' %}

{% block title %}{{ 'email.reset_password.subject'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'email.reset_password.title'|trans }}</h2>
    <p>{{ 'email.reset_password.greeting'|trans({'%name%': name}) }}</p>
    <p>{{ 'email.reset_password.message'|trans }}</p>
    <p style="text-align: center;">
        <a href="{{ url }}" class="button">{{ 'email.reset_password.button'|trans }}</a>
    </p>
    <p>{{ 'email.reset_password.expiry'|trans }}</p>
    <p>{{ 'email.reset_password.no_action'|trans }}</p>
{% endblock %}
